doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML")
  body
    P Hello , MathJax in action.
    p Sole equation \( ax^2+bx+c=0\), we got \(x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}\).
    block content

